@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

:root {
  --primary: #f4068f;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #24272c;
  color: #ffffff;
}
*::selection {
  background: transparent;
}
body::-webkit-scrollbar {
  width: 5px;
  margin: 100px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #000000;
  box-shadow: inset 0 0 6px #000000;
}

body::-webkit-scrollbar-thumb {
  background-color: #322f32;
  outline: 4px solid #322f32;
  width: 8px;
  border-radius: 8px;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-primary {
  color: var(--primary);
}
.text-white {
  color: white;
}

button {
  cursor: pointer;
}
/* Navbar */
.navbar {
  padding: 42.35px 50.7px;
  background: #24272c;
  width: 100%;
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-links-search-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 55px;
  width: 62%;
}
.my-area {
  display: flex;
  /* align-items: center; */
  /* align-content: center; */
  justify-content: space-between;
  gap: 40px;
}
.wallet-notification {
  display: flex;
  align-items: center;
  gap: 30px;
}
.profile {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 16px;
}
.notification-icon {
  width: 39px;
  height: 39px;
  padding: 6px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  background: #e8e8e8;
}
.profile-button {
  border: none;
  background: transparent;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.logo {
  width: 28%;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 35%;
}
.nav-link {
  font-weight: 600;
  font-size: 18px;
}

.nav-links .nav-link.active {
  color: var(--primary);
  font-weight: 800;
}

.search-container {
  width: 40%;
}
.search-container input {
  width: 100%;
  padding: 11px 5px;
  padding-left: 45px !important;
  background-color: #24272c;
  background: url("/images/search.png") no-repeat 15px 10px;
  background-size: 20px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  border: none;
  box-shadow: inset -6px -6px 12px rgba(98, 96, 96, 0.511),
    inset 6px 6px 18px rgba(0, 0, 0, 0.25);
  border-radius: 47px;
  color: rgba(255, 255, 255, 0.4);
  /* letter-spacing: 1px; */
  padding: 11px 13px;
}

.search-container input:active,
.search-container input:focus {
  outline: none;
}

/* Leaderboard */
.leaderboard-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 5px;
  padding-top: 10px;
  margin: 0 50px;
  padding-left: 55px;
  /* gap: 20px ; */
}
.leaderboard {
  width: 62%;
  overflow: auto;
}
.leaderboard-blank {
  background: #1e1c1e;
  border-radius: 26px;
  width: 35%;
}
.leaderboard .heading {
  display: flex;
  max-height: 35px;
  align-items: center;
  margin-bottom: 30px;
  gap: 35px;
}
.leaderboard h1 {
  margin: 20px 0;
  font-weight: 700;
}
.top-players-list {
  display: flex;
  justify-content: space-between;
  gap: 17px;
  margin: 11px 0;
  max-width: 100%;
  overflow: auto;
  padding: 20px 0;
}
.top-players-list h2 {
  font-weight: 700;
  font-size: 24px;
}
.top-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.top-player .avatar {
  height: 80px;
  width: 80px;
  border: 3px solid var(--primary);
  background: var(--primary);
  margin-bottom: 14px;
  padding: 0;
  border-radius: 9999px;
}
.top-player .avatar img {
  border-radius: 9999px;
}

.top-player .meta {
  text-align: center;
}
.top-player .meta .points-container {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
}
.top-player .meta .handle {
  font-weight: 700;
  font-size: 18px;
  font-style: italic;
}

/* Live Ranking */

.live-ranking-container {
  background: #1e1c1e;
  width: 100%;
  padding: 28px 36px;
  margin: 48px 0;
  border-radius: 8px;
  border-top: 3px solid var(--primary);
}
.live-ranking-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #7b7b7b;
  margin-bottom: 20px;
  width: 100% !important;
}
.live-ranking-heading h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
}

.live-ranking-heading {
  width: 683px;
}

.live-ranking-container .description span {
  font-size: 14px;
}
.live-ranking-container .description span:first-child {
  font-weight: 400;
  display: inline-block;
  margin-bottom: 20px;
}
.live-ranking-container .description span:last-child {
  font-weight: 700;
  display: inline-block;
  font-style: italic;
}
.live-ranking-container .description button {
  color: var(--primary);
  border: 1px solid var(--primary);
  background: transparent;
  border-radius: 9999px;
  padding: 10px 13px;
  font-size: 15px;
  font-weight: 600;
  display: block;
  margin: 24px 0;
  transition: all 0.3s;
}
.live-ranking-container .description button:hover {
  background: var(--primary);
  color: #ffffff;
}

.live-ranking-list-container {
  max-height: 514.5px;
  overflow: auto;
}

.live-ranking-list-container > div:nth-child(2),
.live-ranking-list-container .description {
  width: 95%;
}

.live-ranking-list-container::-webkit-scrollbar,
.top-players-list::-webkit-scrollbar {
  width: 5px;
  margin: 100px;
}

.live-ranking-list-container::-webkit-scrollbar-track,
.top-players-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #000000;
  box-shadow: inset 0 0 6px #000000;
}

.live-ranking-list-container::-webkit-scrollbar-thumb,
.top-players-list::-webkit-scrollbar-thumb {
  background-color: #322f32;
  outline: 2px solid #322f32;
  width: 6px;
  border-radius: 8px;
}
.live-ranking-list {
  list-style-type: none;
  padding: 10px 30px;
}
.live-ranking-list-item {
  display: flex;
  align-items: center;
  margin: 9px 0;
}
.list-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #191616;
  padding: 15px 13px 15px 29px;
  margin: 5px 15px;
  border-radius: 15px;
}
.player-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.player-details .meta {
  padding: 0 12px;
}
.player-details .meta h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}
.player-details .meta span {
  font-size: 14px;
  font-weight: 400;
  color: #c4c4c4;
}
.list-card .points {
  background: rgba(255, 238, 89, 0.1);
  padding: 8px 20px;
  border-radius: 15px;
  font-weight: 300;
  font-size: 24px;
}
.list-card .points span {
  font-size: 14px;
}

.live-ranking-list-item .id {
  background: #191616;
  padding: 8px 6px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  margin-left: 8px;
}
.ranking-filter-container {
  background: rgba(244, 6, 143, 0.502);
  height: 35px;
  border-radius: 10px;
  display: flex;
}
.ranking-filter-container .button {
  height: 100%;
  border: none;
  outline: 0;
  border-radius: 10px;
  background: transparent;
  width: max-content;
  min-width: 47px;
  text-align: center;
  padding: 0 25px;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
}
.ranking-filter-container .button:hover {
  opacity: 0.8;
  transition: all 0.3s;
}
.ranking-filter-container .button.selected {
  background: var(--primary);
  transition: all 0.3s;
}


@media only screen and (max-width: 768px) {
  .leaderboard, .leaderboard-blank{
    width: 100%;

  }
  .leaderboard-container {
    flex-direction: column;
    padding-left: 5px;
    margin: 25px;
  }
  .live-ranking-heading{
    flex-direction: column;
    padding-bottom: 10px;
    max-width: 200px;
    width: 200px;
    margin: 0 auto;
  }
  .navbar{
    flex-direction: column;
    padding: 30px;
  }
  .home-links-search-section {
    width: 100%;
    gap: 10px;
    flex-direction: column;
  }
  .my-area{
    display: none;
  }
  .logo {
    width: 50%;
  }
  .nav-links{
    justify-content: center;
    align-items: center;
  }
  .nav-link{
    font-size: 12px;
  }
  .search-container{
    width: 100%;
  }
  .search-container input{

  }
  .leaderboard .heading{
    flex-direction: column;
    max-height: none;
    gap: 5px;
    margin-bottom: 40px;
  }
  .leaderboard .heading h1{
    /* font-size: 16px; */
  }
  .top-players-container h2{
    font-size: 1.25em;
    text-align: center;
  }
  .live-ranking-container{
    padding: 10px 10px;
  }
  .live-ranking-list{
    padding: 5px 10px;
  }
  .list-card{
    margin: 0;
    padding: 2px 5px;
  }
  

.list-card .points{
    padding: 5px 10px;
    font-size: 12px;
  }
  .list-card .points span{
    font-size: 10px;
  }
  .live-ranking-list-container .description{
    
  }
  .live-ranking-list-container .description {
    padding: 10px;
  }
  .leaderboard-container{
    padding: 0;
  }
}